# Compiled class file
*.class

# Idea
.idea/
datasets/717_20170904123036/*.zip
datasets/717_20170904123036/717_webhose-2017-01_20170904123520/*.json

# Log file
*.log


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
